{% load staticfiles %}
<link href="https://fonts.googleapis.com/css?family=Arsenal" rel="stylesheet">

<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <title>SongSearch {% block title2 %}{% endblock %}</title>
</head>
<body>
<div class="container text-center">
    <a href="/"><h1>SongSearch</h1></a>
        {% block content %}
        {% endblock %}

</div>


</body>
</html>