{% extends 'base.html' %}

{% block content %}
<h5>Type the name of an artist, song or lyric.</h5>
<h6>
    {{ error }}
</h6>
<form method="get" action="search">
    <input id="search_box" type="text" name="search_box" value="{{ search_box }}">
    <p>Search by
        <input type="radio" name="filter" id="artist" value="artist" {% if filter == 'artist' %} checked {% endif %}>
        <label for="artist">Artist</label>
        <input type="radio" name="filter" id="song_name" value="song_name" {% if filter == 'song_name' %} checked {% endif %}>
        <label for="song_name">Song</label>
        <input type="radio" name="filter" id="lyrics" value="lyrics" {% if filter == 'lyrics' %} checked {% endif %}>
        <label for="lyrics">Lyrics</label>
        </p>
    <input type="submit" value="Search" id="search-btn">
</form>
{% endblock %}
</body>
</html>