<!DOCTYPE HTML>
<html>
<head>
    <title>SongSearch</title>
</head>
<body>
<h1>SongSearch</h1>
<p>Type the name of an artist, album, song or lyric.</p>
<form type="get" action=".">
    <input id="search_box" type="text" name="search_box" placeholder="SongSearch...">
    <h4>Search by
    <button class="search_submit" type="submit">Artist</button>
    <button class="search_submit" type="submit">Album</button>
    <button class="search_submit" type="submit">Song</button>
    <button class="search_submit" type="submit">Lyrics</button>
    </h4>
</form>
</body>
</html>