{% extends 'base.html' %}
{% block content %}
<p>Type the name of an artist, album, song or lyric.</p>
<h6>
    {{ error }}
</h6>
<form method="get" action="search">
    <input id="search_box" type="text" name="search_box" value="{{ search_box }}">
    <h4>Search by</h4>
    <input type="radio" name="filter" value="artist">Artist
    <input type="radio" name="filter" value="album">Album
    <input type="radio" name="filter" value="song">Song
    <input type="radio" name="filter" value="lyrics">Lyrics
    <input type="submit"><span class="glyphicon glyphicon-search"></span>
</form>
{% endblock %}