{% extends 'base.html' %}

{% block content %}


<div class="container">
    <a href="/"><h5><span class="glyphicon glyphicon-chevron-left"></span></h5></a>

    <div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1"><span class="glyphicon glyphicon-step-backward"></span></a>
            <a href="?page={{ previous_100 }}"><span class="glyphicon glyphicon-fast-backward"></span></a>
            <a href="?page={{ previous_10 }}"><span class="glyphicon glyphicon-backward"></span></a>
            <a href="?page={{ prev_page }}"><span class="glyphicon glyphicon-triangle-left"></span></a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ last_page }}
        </span>

        {% if page.has_next %}
            <a href="?page={{ next_page }}"><span class="glyphicon glyphicon-triangle-right"></span></a>
            <a href="?page={{ next_10 }}"><span class="glyphicon glyphicon-forward"></span></a>
            <a href="?page={{ next_100 }}"><span class="glyphicon glyphicon-fast-forward"></span></a>
            <a href="?page={{ last_page }}"><span class="glyphicon glyphicon-step-forward"></span></a>
        {% endif %}
    </div>

    <table class="table table-bordered">
        <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Lyrics</th>
            <th>Edit</th>
        </tr>
        {% for song in page_songs %}
        <tr>
            <td class="song-songname">{{ song.song_name }}</td>
            <td class="song-artist">{{ song.artist }}</td>
            <td class="song-lyrics">
                <span class="short-lyrics">{{ song.lyrics }}</span>
                <div class="expanded-lyrics">{{ song.exp_lyrics }}</div>
                <span class="suspension-points">{{ song.suspoints }}</span>
            </td>
            <td id="manage-song"><a href="../song-details?id={{ song.id }}" name="song_id" value="{{ song.id }}"><span
                    class="glyphicon glyphicon-edit"></span></a>
                <a href="../song-details?id={{ song.id }}" name="song_id" value="{{ song.id }}"><span
                        class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% endfor %}
    </table>


    <div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1"><span class="glyphicon glyphicon-step-backward"></span></a>
            <a href="?page={{ previous_100 }}"><span class="glyphicon glyphicon-fast-backward"></span></a>
            <a href="?page={{ previous_10 }}"><span class="glyphicon glyphicon-backward"></span></a>
            <a href="?page={{ prev_page }}"><span class="glyphicon glyphicon-triangle-left"></span></a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} of {{ last_page }}
        </span>

        {% if page.has_next %}
            <a href="?page={{ next_page }}"><span class="glyphicon glyphicon-triangle-right"></span></a>
            <a href="?page={{ next_10 }}"><span class="glyphicon glyphicon-forward"></span></a>
            <a href="?page={{ next_100 }}"><span class="glyphicon glyphicon-fast-forward"></span></a>
            <a href="?page={{ last_page }}"><span class="glyphicon glyphicon-step-forward"></span></a>
        {% endif %}
    </div>


</div>

<script>
$( ".short-lyrics" ).mouseover(function() {
    $( this ).siblings( ".expanded-lyrics" ).css("display", "inline")
    });
$( ".short-lyrics" ).mouseout(function() {
    $( this ).siblings( ".expanded-lyrics" ).css("display", "none")
    });


</script>

{% endblock %}

