{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="/"><h5><span class="glyphicon glyphicon-chevron-left"></span></h5></a>
    <table class="table table-bordered">
        <tr>
            <th>Song</th>
            <th>Artist</th>
            <th>Lyrics</th>
            <th>Edit</th>
        </tr>
        {% for song in all_songs %}
        <tr>
            <td id="song-songname">{{ song.song_name }}</td>
            <td id="song-artist">{{ song.artist }}</td>
            <td id="song-lyrics">{{ song.lyrics }}</td>
            <td id="manage-song"><a href="../song-details?id={{ song.id }}" name="song_id" value="{{ song.id }}"><span
                    class="glyphicon glyphicon-edit"></span></a>
                <a href="../song-details?id={{ song.id }}" name="song_id" value="{{ song.id }}"><span
                    class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
